@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: 'Inter Variable', sans-serif;
}

html {
    font-size: 14px;
}


button {
  cursor: pointer;

  &:is([disabled]) {
    cursor: not-allowed;
  }
}