@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: 'Geist Variable', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;
}

html {
    font-size: 14px;
    color: var(--p-text-color);
}


button {
  cursor: pointer;

  &:is([disabled]) {
    cursor: not-allowed;
  }
}